/vendor
/node_modules
/public/build
/public/hot

/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

.env

.phpunit.result.cache

.idea/
.vscode/

npm-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

*.zip
*.7z
*.rar
*.tar
*.tar.gz
*.tgz
*.tar.bz2
*.tbz2
*.gz
*.bz2
*.xz